.list-item.detailed {
  background: map.get($list, item, bg);

  &:not(last-child) {
    margin: 0 0 2px;
  }

  a {
    border: 2px solid transparent;
    display: block;
    padding: 0.25rem .5rem;

    span {
      display: block;
      line-height: 1.75rem;

      &.line1 {
        font-size: 1.25rem;
      }

      &.line2 {
        font-size: .75rem;
        color: map.get($list, item, secondary, fc);
      }
    }

    &:hover {
      color: map.get($list, item, primary, hover, fc);
      background: map.get($list, item, hover, bg);

      .line2 {
        color: map.get($list, item, secondary, hover, fc);
      }
    }
  }
}
