$bg1: (
  "body": #606060,
  "list": #383838,
  "list-title": #e0e0e0,
  "list-item": #484848,
  "list-item:hover": #ea0
);

$bg2: (
  "body": #000,
  "list": #606060,
  "list-title": #e0e0e0,
  "list-item": #404040,
  "list-item:hover": #ea0
);

$bg: $bg1;

$textColor: (
  "default": #e0e0e0,
  "list": #e0e0e0,
  "list-title": #000,
  "list-nav": #c0c0c0,
  "list-nav.selected": #f0c000,
  "list-item": #e0e0e0,
  "list-item:hover": #000,
  "list-item-primary": #e0e0e0,
  "list-item-secondary": #c0c0c0,
  "list-item-primary:hover": #000,
  "list-item-secondary:hover": #404040,
);
